$color-white: #fff;
$color-black: #111111;
$spacing: 5px;

.banner {
  padding-top: 25vh;
  min-height: 80vh;
  background: linear-gradient(0deg, #f7f3f4, #f7f3f4),
    linear-gradient(0deg, #febd2f, #febd2f),
    radial-gradient(178.57% 327.71% at 110.1% 3.35%, #ff605b 0%, #ffee30 100%),
    #27d07d;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__headline {
    // margin-bottom: 1rem;
  }
  &__paragraph {
    width: 60%;
    margin: 2rem 0 3rem;
  }
  &__columnLeft {
  }

  &__columnRight {
    position: relative;
  }

  .searchBox {
    background-color: $color-white;
    width: 28rem;
    height: 4rem;
    border-radius: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 30px 40px rgba(240, 101, 126, 0.05);
    padding-left: 0.5rem;
    &__input {
      width: 14.5rem;
      margin-left: 1rem;
    }
  }

  .card {
    position: absolute;
    top: 18rem;
    left: -6rem;
    width: 304px;
    height: 360px;
    z-index: 1;
    &__mainImg {
      width: 100%;
      height: 100%;
    }
    &__headImg {
      position: absolute;
      top: 2rem;
      left: 2rem;
    }
    &__title {
      font-weight: 700;
      font-size: 20px;
      line-height: 140%;
      color: $color-white;
      position: absolute;
      bottom: 6rem;
      left: 2rem;
    }
    &__number {
      font-weight: 700;
      font-size: 56px;
      line-height: 80px;
      color: $color-white;
      position: absolute;
      bottom: 1rem;
      left: 2rem;
    }
  }
}
